@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* DESKTOP NAV */

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    cursor: pointer;
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(184, 183, 183);
    text-decoration-thickness: 0.3rem;
}

.logo {
    font-size: 1.5rem;
    color: white;
    background-color: black;
    width: 7rem;
    text-align: center;
    border-radius: 15px;
}

.logo:hover {
    cursor: default;
}

/* SECTION */

section {
    padding-top: 4vh;
    /* height: 96vh; */
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* PROFILES */

h1 {
    font-size: 3.5rem;
}


.roles {
    font-size: 2em;
}

.resume-links {
    color: rgb(0, 162, 255);
    text-decoration: none;
}

.resume-links:hover {
    color: gray;
    text-decoration: none;
}

.info {
    /* display: none; */
    padding-top: 0.9rem;
}

/* HIDDEN-INFO */
.hidden-info {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
}

.hidden-info img {
    width: 18rem;
    border-radius: 40px;
}

.hidden-content {
    padding-left: 2rem;
}

/* STACK-INFO */
.stack-info, .contact-icon {
    display: flex;
}

.stack-info {
    padding-top: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.contact-icon {
    gap: 1rem;
    list-style: none;
}

.contact-icon img {
    cursor: pointer;
    width: 2rem;
}

.contact p {
    font-size: 1rem;
    text-align: right;
}

.btn-info {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }
  
  .btn-info:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
    cursor: pointer;
  }

/* PROJECTS */

/* LEFT */
.poster-container-left {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.poster-container-left img {
    width: 20rem;
    height: fit-content;
}

.poster-container-left .description {
    padding-top: 1.5rem;
    padding-left: 2rem;
}

.poster-container-left .description p {
    padding-top: 1.5rem;
}

/* RIGHT */
.poster-container-right {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.poster-container-right img {
    width: 20rem;
    height: fit-content;
}

.poster-container-right .description {
    padding-top: 1.5rem;
    padding-right: 2rem;
}

.poster-container-right .description p {
    padding-top: 1.5rem;
}

/* ICON-PART */
.icon-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.icon-part li {
    list-style: none;
}

.icon-part .co-op img {
    width: 4rem;
}

.icon-part .program img {
    width: 2.6rem;
}

.icon-part .program {
    gap: 0.5rem;
    display: flex;
}

/* FOOTER */
footer .copyright {
    display: flex;
    padding-top: 6rem;
    justify-content: center;
}

footer .copyright p {
    font-size: 0.8rem;
}

footer .ps {
    display: flex;
    padding: 1rem 0 4rem 0;
    justify-content: center;
}

footer .ps p {
    font-size: 0.6rem;
    text-align: center;
}